* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 768px;
  height: 768px;
  margin: auto;
  border: 5px solid red;
}

.grid-item {
  background-color: #c7c7c7;
  border: 1px solid #0c6369;
  width: calc(100% / 64);
  height: calc(100% / 64);
}